DEBUG=True
SECRET_KEY=replace-me
ALLOWED_HOSTS=127.0.0.1,localhost

# Database (Dockerized Postgres from docker-compose.yml)
DB_NAME=corehire
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

CORS_ALLOW_ALL=True

# Hugging Face Inference API
HUGGINGFACE_API_TOKEN=
HF_API_BASE=https://api-inference.huggingface.co/models
HF_CHAT_MODEL=google/flan-t5-large
HF_SUGGESTION_MODEL=google/flan-t5-large
